<form nz-form style="margin-top:20px; text-align: center;">
    <input nz-input placeholder="Enter Category Name to search" nzSize="large" style="width: 20%;"/>
    <button nz-button [nzSize]="size" nzType="primary" style="margin-left: 15px;">Search</button>

</form>


<div class="container" *ngIf="categories">
    <h2>All Categories</h2>
    <button class="save-Category" routerLink="/category">Add Category</button>
    <table class="user-table" border="1">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories">
                <td>{{category.name}}</td>
                <td>{{category.description}}</td>

                
                <td>
                    <button class="update-button" nz-button nzType="primary" routerLink="/category/{{category.id}}">Update</button>

                    <button class="delete-Piece">Delete</button>


                </td>
            </tr>
        </tbody>
    </table>
</div>