<div style="margin-top: 50px; display: flex; justify-content: center; align-items: center; height: calc(100vh - 50px);">
    <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working.">
      <div class="parent">
        <div class="child">
          <div nz-row class="imgDiv" style="display: flex; justify-content: center; margin-bottom: 20px;">
            <h2>Add Piece</h2>
          </div>
  
          <form nz-form [formGroup]="postPieceForm">
            <div nz-row>
              <div nz-col nzSpan="24">
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzRequired>Name</nz-form-label>
                  <nz-form-control [nzSpan]="14" nzHasFeedback nzErrorTip="This Input Is Required">
                    <input nz-input placeholder="Name" formControlName="NamePiece" />
                  </nz-form-control>
                </nz-form-item>
              </div>
  
              <div nz-col nzSpan="24">
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzRequired>Description</nz-form-label>
                  <nz-form-control [nzSpan]="14" nzHasFeedback nzErrorTip="This Input Is Required">
                    <input nz-input placeholder="Description" formControlName="description" />
                  </nz-form-control>
                </nz-form-item>
              </div>
  
              <div nz-col nzSpan="24">
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzRequired>Piece State</nz-form-label>
                  <nz-form-control [nzSpan]="14" nzHasFeedback nzErrorTip="This Input Is Required">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a Piece State" formControlName="pieceState">
                      <nz-option *ngFor="let state of pieceStates" [nzLabel]="state.label" [nzValue]="state.value">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
  
              <div nz-col nzSpan="24">
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzRequired>Quantity</nz-form-label>
                  <nz-form-control [nzSpan]="14" nzHasFeedback nzErrorTip="This Input Is Required">
                    <input nz-input placeholder="Quantity" formControlName="quantity" />
                  </nz-form-control>
                </nz-form-item>
              </div>
  
              <div nz-col nzSpan="24">
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzRequired>Price</nz-form-label>
                  <nz-form-control [nzSpan]="14" nzHasFeedback nzErrorTip="This Input Is Required">
                    <input nz-input placeholder="Price" formControlName="price" />
                  </nz-form-control>
                </nz-form-item>
              </div>
  
              <div nz-col nzSpan="24">
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzRequired>Last_id</nz-form-label>
                  <nz-form-control [nzSpan]="14" nzHasFeedback nzErrorTip="This Input Is Required">
                    <input nz-input placeholder="Last_id" formControlName="Last_id" />
                  </nz-form-control>
                </nz-form-item>
              </div>
  
              <div nz-col nzSpan="24">
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzRequired>Category</nz-form-label>
                  <nz-form-control [nzSpan]="14" nzHasFeedback nzErrorTip="This Input Is Required">
                    <nz-select nzShowSearch nzAllowClear id="category_id" nzPlaceHolder="Select a Category" formControlName="categoryId">
                      <nz-option *ngFor="let category of categories" nzLabel="{{category.name}}" nzValue="{{category.id}}">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </form>
  
          <div style="display: flex; justify-content: center; margin-top: 20px;">
            <button nz-button class="post-button" [nzType]="'primary'" (click)="postPiece()">Add</button>
          </div>
        </div>
      </div>
    </nz-spin>
  </div>
  