<div class="container">
    <mat-card class="sidebar">
      <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item>
          <mat-icon mat-list-icon>home</mat-icon>Home
        </button>
        <button mat-list-item>
          <mat-icon mat-list-icon>info</mat-icon>About
        </button>
        <button mat-list-item>
          <mat-icon mat-list-icon>contact_mail</mat-icon>Contact
        </button>
      </mat-action-list>
    </mat-card>
  
    <div class="content">
      <h1>Welcome to the Main Content Area</h1>
      <p>This is where your main content will go.</p>
    </div>
  </div>
  