<form nz-form style="margin-top:20px; text-align: center;" [formGroup]="searchForm">
    <input nz-input placeholder="Enter Piece Name to search" nzSize="large" style="width: 20%;" formControlName="NamePiece"/>
    <button nz-button [nzSize]="size" nzType="primary" style="margin-left: 15px;" >Search</button>
  </form>
  
  <div class="container" *ngIf="pieces.length > 0">
    <h2>All Pieces</h2>
    <button class="save-Category" nz-button nzType="primary" routerLink="/post">Add Piece</button>
    <table class="user-table" border="1">
      <thead>
        <tr>
          <th>Piece Id</th>
          <th>Name Piece</th>
          <th>Description</th>
          <th>Piece State</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Last_id</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let piece of pieces">
          <td>{{ piece.id }}</td>
          <td>{{ piece.namePiece }}</td>
          <td>{{ piece.description }}</td>
          <td>{{ piece.pieceState }}</td>
          <td>{{ piece.quantity }}</td>
          <td>{{ piece.price }}</td>
          <td>{{ piece.supplier }}</td>
          <td>
            <a [routerLink]="['/update-piece', piece.namePiece]">Update</a>

          <!--  <button class="update-button" nz-button nzType="primary" routerLink="/piece/{{ piece.id }}">Update</button>-->
           <!-- <button class="log-button" nz-button nzType="default" routerLink="/piece/{{ piece.id }}/log">Logs</button>-->
           <button class="log-button" nz-button nzType="default" [routerLink]="['/piece', piece.id, 'changelog']">Logs</button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
  